<?xml version='1.0' encoding='utf-8'?>
<widget id="app.test.pushNots" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>push nots</name>

    <description></description>

    <author email="John@doeCorp.org">John Doe</author>

    <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />

    <content src="index.html" />
    <access origin="*" />
</widget>
